/assets/opensearch/data/os01data/*
/assets/opensearch/data/os02data/*
/assets/opensearch/data/os03data/*
/assets/opensearch/data/os04data/*
/assets/opensearch/data/os05data/*
cluster-opensearch.code-workspace