OpenSearch-2.15.-Invenio-3/assets/opensearch/data/os01data/*
OpenSearch-2.15.-Invenio-3/assets/opensearch/data/os02data/*
OpenSearch-2.15.-Invenio-3/assets/opensearch/data/os03data/*
OpenSearch-2.15.-Invenio-3/assets/opensearch/data/os04data/*
OpenSearch-2.15.-Invenio-3/assets/opensearch/data/os05data/*
OpenSearch-3.6.-Invenio-3/assets/opensearch/data/os01data/*
OpenSearch-3.6.-Invenio-3/assets/opensearch/data/os02data/*
OpenSearch-3.6.-Invenio-3/assets/opensearch/data/os03data/*
OpenSearch-3.6.-Invenio-3/assets/opensearch/data/os04data/*
OpenSearch-3.6.-Invenio-3/assets/opensearch/data/os05data/*
cluster-opensearch.code-workspace